.player-portraits {
  display: flex;
  justify-content: center;
}

.report-results {
  margin: 20px 0;
}

.match-history {
  & > span {
    width: 130px;
    text-align: left;
    display: inline-block;
    white-space: nowrap;

    & > span {
      width: 24px;
      display: inline-block;
    }
  }
}

.win-loss-container {
  margin: 10px;
  opacity: .7;

  & > span {
    margin: 10px;
  }
}