<h2>Standard Mode</h2>
<p>
  Standard mode is, well, your standard fare. Every round, each player will be assigned a random 
  fighter. Once a fighter has been assigned they are removed from the pool and are no longer
  eligible to be rolled in future matches. Once there are not enough characters left in the pool,
  the player with the most wins will win the contest. Standard mode aims to recreate 
  the exact experience you'd find in-game, with no extra bells and whistles.
</p>
<h2>Spicy Mode</h2>
<p>
  Spicy mode attempts to bring a bit more purposeful competition into the mix. 
  Spicy Smashdown includes a configurable Draft phase with the ability to dodge certain matchups
</p>
<p>
  First you'll go through the draft phase, starting with Bans. A banned character will works 
  just like disabling the fighter - that fighter will not be able to be rolled during the entire
  Smashdown. It's up to you on whether you want to ban your worst fighters, or your opponents' best!
</p>
<p>
  After Bans have been completed, you'll move to the pick phase. Here you have the choice
  to either pick your best characters, or target your opponents further and pick them away!
</p>
<p>
  Now that you've completed Picks and Bans, you'll move onto the actual Smashdown with one 
  more feature: Dodges. Dodges allow you to reroll the character you've been randomly assigned 
  during the Smashdown match. Keep in mind, it is possible to be unlucky enough to roll that 
  same character again!
</p>
