<h2>Standard Mode</h2>
<p>
  Standard mode is, well, your standard fare. Standard mode aims to recreate 
  the exact experience you'd find in-game, with no extra bells and whistles. Simple, clean.
</p>
<h2>Spicy Mode</h2>
<p>
  Spicy mode attempts to bring a bit more purposeful competition into the mix. 
  Spicy Smashdown includes a configurable Draft and Dodge phase
</p>
<p>
    First you'll go through the draft phase which starts with Bans. You'll ban a characters
    that you don't want to see in the Smashdown. This works just like disabling the fighter. 
    It's up to you on whether you want to ban your worst fighters, or your opponents' best!
  </p>
  <p>
    After Bans have been completed, you'll move to the pick phase. Here you have the choice
    to either pick your best characters, or target your opponents further and pick them away!
  </p>
  <p>
    Now that you've completed Picks and Bans, you'll move onto the actual Smashdown with one 
    more feature: Dodges. Dodges allow you to reroll the character you've been randomly assigned 
    during the Smashdown match. Keep in mind, it is possible to be unlucky enough to roll that 
    same character again!
  </p>

