<nav>
  <button class="button button--naira button--border-medium button--round-l button--text-thick button--inverted"
    routerLink="" routerLinkActive="active" disabled title="Coming Soon!">
    <i class="button__icon icon icon-download"></i>
    <span>Ironman</span>
  </button>
  <button class="button button--naira button--border-medium button--round-l button--text-thick button--inverted"
    routerLink="/smashdown" routerLinkActive="active">
    <i class="button__icon icon icon-play"></i>
    <span>Smashdown</span>
  </button>
  <button class="button button--naira button--border-medium button--round-l button--text-thick button--inverted"
    routerLink="" routerLinkActive="active" disabled title="Coming Soon!">
    <i class="button__icon icon icon-download"></i>
    <span>Squad Strike</span>
  </button>
</nav>